<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registe</title>
    <link rel="stylesheet"  type="text/css" href="css/bootstrap.min.css" >

    <script type="text/javascript" src="js/jquery-3.5.1.js"></script>
</head>
<body>

    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" >
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" id="registe" >Submit</button>
    <a th:href="@{/index}">回主页</a>
    <script>
        $('#registe').click(function () {
        $.ajax(
            {
                url: "/registe",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    "username": $('#exampleInputEmail1').val(),
                    "password": $('#exampleInputPassword1').val()
                }),
                success: function (res) {
                if(res.status==200)alert("注册成功!!");
                else alert("注册失败!!");s
                }
            }
        )
        })
    </script>


<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
